<!DOCTYPE html>

{% extends 'base.html' %}	

{% block accueil %}
	<section>
		<div class="category">
			<h1>Réseau</h1>
			<a href="/reseau"><img src="static/img/connexion.jpg" alt="reseau"/></a>
			<p>Gestionnaire des paramètres réseau de la carte de communication</p>
		</div>
	
		<div class="category">
			<h1>Serveur de donnée</h1>
			<a href="/serveur"><img src="static/img/db.png" alt="serveur de donnée"/></a>
			<p>Gestionnaire des paramètres de connexion de votre serveur de donnée.</p>
		</div>

		<div class="category">
			<h1>Support</h1>
			<a href="/support"><img src="static/img/support.jpg" alt="support"/></a>
			<p>Vous pouvez nous contacter ici pour toutes questions ou problèmes rencontrés.</p>
		</div>

	</section>
{% endblock %}