<!DOCTYPE html>


<html>

  <head>
    <title>HTML</title>
    <link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='css/bootstrap.min.css') }}">
  </head>

  <body>

  <div class="container text-center">
    <h3>FRANCE HALIOTIS</h3>
    <p><em>Paramètres et configuration</em></p>
  </div> 

  <nav class="navbar navbar-expand-md navbar-dark bg-dark row">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/accueil">Acceuil <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/reseau">Réseau</a>
       </li>
        <li class="nav-item">
          <a class="nav-link" href="/serveur">Serveur de donnée</a>
       </li>
        <li class="nav-item">
         <a class="nav-link" href="/support">Support</a>
       </li>
     </ul>
    </div>
  </nav>



{% block accueil %}{% endblock %}
{% block reseau %}{% endblock %}
{% block serveur %}{% endblock %}
{% block support %}{% endblock %}


  </body>
</html>