<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
	<title>Centre de paramétrage</title>
</head>
<body>
	<div id="bloc_page">

	<header>
		<div id="logo_titre">
			<div id="logo">
				<img src="static/img/logo.png" alt="logo d'un ormeau"/>
			</div>
			<div id="titre">
				<h1>FRANCE HALIOTIS</h1>
				<h2>l'ormeau breton de pleine mer</h2>
			</div>
		</div>

		<nav>
			<ul>
				<li><a href="/accueil">Accueil</a></li>
				<li><a href="/reseau">Réseau</a></li>
				<li><a href="/serveur">Serveur de donnée</a></li>
				<li><a href="/support">Support</a></li>
			</ul>
		</nav>
	</header>

	<div id="banner">
		<div id="banner_description">
			Bienvenue sur le centre de configuration
		</div>
	</div>
	
{% block accueil %}{% endblock %}
{% block reseau %}{% endblock %}
{% block serveur %}{% endblock %}
{% block support %}{% endblock %}

	<footer>
		<div id="bloc_footer">
			<div id="contact">
				<h1>Nous contacter</h1>
				<h2>Les élèves</h2>
				<ul>
					<li><a href="mailto:pierre@mail.com"><strong>Module de mesures:</strong> pierre@mail.com</a></li>
					<li><a href="mailto:flavien@mail.com"><strong>Module de communication:</strong> flavien@mail.com</a></li>
					<li><a href="mailto:pierre@mail.com"><strong>Module de visualisation:</strong> guillaume@mail.com</a></li>
				</ul>
				<h2>Le professeur</h2>
				<ul>
					<li><a href="mailto:prof@mail.com"><strong>M.Raye:</strong> prof@mail.com</a></li>
				</ul>
			</div>
			<div id="link">
				<h1>Liens</h1>
				<ul>
					<li><a href="https://www.abalonebretagne.com/" target="_blank">Site de France Holiotis</a></li>
					<li><a href="#" target="_blank">Consultation des mesures</a></li>
				</ul>
			</div>
		</div>
	</footer>

	</div>
</body>
</html>