<!DOCTYPE html>

{% extends 'base.html' %} 

{% block accueil %}

<div id="conf_connex">
  <div id="conf"> 
    <h2>Votre configuration</h2>
    <p><em>Adresse IP/masque :</em> {{ ip }} / {{ masque }}</p>
    <p><em>Adresse réseau :</em> {{ ipR }}</p>
  </div>

  <div id="connex"> 
    <h2>Redémarrer</h2>
    <p>Redémarrage nécessaire après un changement des paramètres IP<p>
    <form method="POST" action="/reseau">
      <input type="submit" name="formulaire" value="Redemarrer" class="btn"/>
    </form>
  </div>
</div>

<div id="wifi_ethernet_serveur">
  <div id="wifi">
    <div class="titre_reseau">WIFI</div>
    <!--
    <form method="POST" action="#" >
      <input type="submit" name="formulaire" value="activer wifi" class="btn"/>
    </form>
    -->
    <form method="POST" action="/reseau">
      <label for="ssid">SSID</label> <br/>
          <input type="text" name="ssid" id="ssid" placeholder="MonWifi"/>
          <br/>
          <label for="mdp">Mot de passe</label> <br/>
          <input type="password" name="mdp" id="mdp" placeholder="Mot de passe" />
          <br/>
          <input type="submit" name="formulaire" value="Modifier WIFI" class="btn"/>
    </form>
  </div>

  <div id="ethernet">
     <div class="titre_reseau">ETHERNET</div>
    <!--
    <form method="POST" action="/reseau">
      <input type="submit" name="formulaire" value="activer ethernet" class="btn"/>
    </form>
  -->
    <form method="POST" action="/reseau">
      <label for="adIP">Adresse IP</label> <br/>
          <input type="text" name="adIP" id="adIP" placeholder="192.168.1.18" maxlength="15"/>
          <br/>
          <label for="Masque">Masque</label> <br/>
          <input type="number" name="masque" id="masque" placeholder="24" min="0" max="25"/>
          <br/>
          <label for="route">Route par défaut</label> <br/>
          <input type="text" name="route" id="route" placeholder="192.168.1.1" maxlength="15"/>
          <br/>
          <input type="submit" name="formulaire" value="Modifier Ethernet" class="btn"/>
    </form>
  </div>
</div>  


{% endblock %}