<!DOCTYPE html>

{% extends 'base.html' %}	

{% block accueil %}

<div id="conf"> 
  <h2>Votre configuration</h2>
  <p><em>Adresse IP/masque :</em> {{ ip }} / {{ masque }}</p>
  <p><em>Adresse réseau :</em> {{ ipR }}</p>
</div>

<div id="connex"> 
  <h2>Mode de connexion</h2>
  <p><em>Vous êtes en</em> ethernet/wifi</p>

  <div id="wifi_ethernet">
    <div id="wifi">
      <h2>WIFI</h2>
      <form method="POST" action="#" >
        <input type="submit" name="formulaire" value="activer wifi" class="btn"/>
      </form>
      <form method="POST" action="#">
        <label for="ssid">SSID</label> <br/>
            <input type="text" name="ssid" id="ssid" placeholder="ex : MonWifi"/>
            <br/>
            <label for="mdp">Mot de passe</label> <br/>
            <input type="password" name="mdp" id="mdp"/>
            <br/>
            <input type="submit" name="formulaire" value="modifier wifi" class="btn"/>
      </form>
    </div>

    <div id="ethernet">
      <h2>ETHERNET</h2>
      <form method="POST" action="/reseau">
        <input type="submit" name="formulaire" value="activer ethernet" class="btn"/>
      </form>
      <form method="POST" action="/reseau">
        <label for="adIP">Adresse IP</label> <br/>
            <input type="text" name="adIP" id="adIP" placeholder="ex : 192.168.1.18" maxlength="15"/>
            <br/>
            <label for="Masque">Masque</label> <br/>
            <input type="number" name="masque" id="masque" placeholder="ex : 24" min="0" max="25"/>
            <br/>
            <label for="route">Route par défaut</label> <br/>
            <input type="text" name="route" id="route" placeholder="ex : 192.168.1.1" maxlength="15"/>
            <br/>
            <input type="submit" name="formulaire" value="modifier ethernet" class="btn"/>
      </form>
    </div>
  </div>
</div>

{% endblock %}


