<!DOCTYPE html>

{% extends 'base.html' %}


{% block reseau %}

<h1 class="text-center">Votre configuration</h1>
<main role="main" class="container">
  <div class="jumbotron">
    
  </div>
</main>

<h2 class="text-center">WIFI</h2>
<main role="main" class="container col-lg-4 ">
  <div class="jumbotron">
    
  </div>
</main>

<h2 class="text-center">ETHERNET</h2>
<main role="main" class="container col-lg-4 ">
  <div class="jumbotron">
    
<form action="/reseau" method="POST">
  <div class="form-group row">
    <label for="inputIPstatique" class="col-lg-4 col-form-label">Adresse IP*</label>
    <div class="col-sm-7">
      <input class="form-control" name="IPstatique" id="inputIPstatique" placeholder="ex : 192.168.1.18">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputMasquestatique" class="col-lg-4 col-form-label">Masque*</label>
    <div class="col-sm-7">
      <input class="form-control" name="MASQUEstatique" id="inputMasquestatique" placeholder="ex : 255.255.255.0">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputDNSstatique" class="col-lg-4 col-form-label">DNS</label>
    <div class="col-sm-7">
      <input class="form-control" name="DNSstatique" id="inputDNStatique" placeholder="ex : 8.8.8.8">
    </div>
  </div>


  <div class="form-group row text-center">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary btn-lg col-lg-10">Activer</button>
    </div>
  </div>
</form>

  </div>
</main>


{% endblock %}
